.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 15px;
}

p {
  font-size: 14px;
  line-height: 1.6;
}

button {
  font-weight: 600;
}

.spin {
  animation: spin 1s infinite linear;
}

#tsdk_banner:has(.themeisle-sale) {
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
  
  .themeisle-sale {
    margin: 0 15px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
