.product-cards {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3,minmax(0,1fr));
  @media (--tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--laptop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.product-card {
  background: #fff;
  border: var(--border);
  display: flex;
  flex-direction: column;
  *{
    box-sizing: border-box;
  }
  h2 {
    font-size: 21px;
    margin: 0;
  }

  p {
    margin: 0;
    color: #6C6C6C;
  }

  .header {
    padding: 20px 15px 0;
    display: flex;
    width: 100%;
    align-items: center;
  }

  .body {
    padding: 20px 15px;
    width: 100%;
  }

  img {
    max-width: 50px;
    margin-right: 15px;
    border-radius: 6px;
  }


  .footer {
    border-top: var(--border);
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
    margin-top: auto;
    align-self: flex-end;
	 justify-content: space-between;

    p {
      margin: 8px 0;
      font-weight: 600;
      font-size: 13px;
      color: #313233;
    }

    .not-installed {
      color: #7E7E7E;
    }

    .active {
      color: #609952;
    }
  }

  button, a, .spin {
    margin-left: auto;
    text-decoration: none;
  }
}
