.product-page {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 960px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  background-color: #FFFFFF;

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    border-bottom: 1px solid #CCCCCC;

    h1 {
      font-size: 30px;
      line-height: 42px;
      max-width: 500px;
      text-align: center;
    }
    p {
        font-size: 14px;
        line-height: 24px;
        max-width: 500px;
        text-align: center;
    }
    .logo {
      width: 64px;
      margin-bottom: 24px;
    }
    .label {
      font-size: 10px;
      line-height: 12px;
      color: #ED6F57;
      background-color: #ED6F572E;
      padding: 8px 16px;
      border-radius: 4px;
    }
  }

  .col-3-highlights {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 64px 0;
    border-bottom: 1px solid #CCCCCC;

    .col {
      max-width: 220px;
      h3 {
        font-size: 21px;
        line-height: 32px;
        margin-bottom: 8px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  .col-2-highlights {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 64px 0;
    border-bottom: 1px solid #CCCCCC;

    .col {
      width: 45%;
      img {
        max-width: 450px;
      }
      h2 {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 8px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  .testimonial-nav {
    display: flex;
    gap: 8px;
    .testimonial-button {
      width: 10px;
      height: 10px;
      background-color: #D9D9D9;
      margin: 0;
      padding: 0;
      border-radius: 50%;
      &.active {
        background-color: #ED6F57;
      }
    }
  }

  .testimonial-container {
    width: 100%;
    max-width: 450px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    &::-webkit-scrollbar {
      display: none;
    }

    .testimonial {
      width: 100%;
      flex: 1 0 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      gap: 14px;
      align-items: center;
      p {
        width: 100%;
        font-size: 14px;
        line-height: 24px;
      }
      h3 {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: #1C1C1C;
      }
      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
    }
  }

  .button-row {
    display: flex;
    gap: 12px;
    margin-top: 48px;
  }

  .otter-button {
    &.is-primary {
      background-color: #ED6F57;
    }
    &.is-secondary {
      color: #ED6F57;
      box-shadow: inset 0 0 0 1px #ED6F57;
    }
  }
}
